@import 'normalize.css';

:root {
    --primary: #d70018;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}
