.phone-page {
    // .carousel-item {
    //     margin-top: 1rem;
    //     // display: inline-block;
    //     white-space: nowrap;
    // }

    .list-image-swipe {
        white-space: nowrap;
        display: inline-block;
    }

    .image-swipe {
        height: 3rem;
        width: 3rem;
        box-sizing: content-box;
        margin-right: 3px;
        margin-left: 3px;
        cursor: pointer;
        object-fit: contain;
    }

    .button-select-option {
        position: relative;
        &.active {
            &::after {
                background-color: var(--primary);
                border-radius: 0 0 10px 0;
                color: #fff;
                content: '✓';
                font-size: 10px;
                height: 16px;
                left: 0;

                position: absolute;
                top: 0;
                width: 20px;
            }
        }
    }

    .more-info {
        position: relative;
        .show-more {
            background: linear-gradient(
                180deg,
                hsla(0, 0%, 100%, 0),
                hsla(0, 0%, 100%, 0.91) 50%,
                #fff 55%
            );
            border-radius: 10px;
            bottom: 0;
            display: block;
            left: 0;
            margin-bottom: 0;
            padding-top: 88px;
            position: absolute;
            right: 0;
            text-align: center;
            width: 100%;

            .button-show-more {
                &:hover {
                    border-color: var(--primary) !important;
                    color: var(--primary) !important;
                }
            }
        }
    }

    .button-details {
        &:hover {
            border-color: var(--primary) !important;
            color: var(--primary) !important;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: var(--primary);
    }
}
